*{
    margin: 0;
    padding: 0;
}
.navigation{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid black;
    z-index: 9999;
}
.nav-left{
    font-size: 30px;
    display: flex;
    color: var(--main-bg-color);
}
.nav-left a{
    text-decoration: none;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0px 50px;
    font-size: 18px;
}
.nav-left ul form{
    display: none;
}
.nav-left ul li{
    font-family: var(--font2);
    list-style: none;
    margin: 0px 14px;
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.content-left{
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
}
.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 55%;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: burlywood; */
}
.home-articles{
    padding-top: 15px;
    position: relative;
}
.year-box{
    position: absolute;
    right: 10%;
}
.year-box div{
    margin: 12px 0px;
    font-size: 18px;
}
.home-article{
    display: flex;
    margin: 25px 10px;
    transition: all 0.3s ease-in-out;
    width: 75%;
}
.home-article:hover{
    background-color: var(--main-bg-color);
    color: white;
    cursor: pointer;
}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 0px 30px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: white;
    flex-direction: column;
    font-family: var(--font1);
}
.footer a{
    color: white;
}
.forms{
    margin-top: 35px;
}

/* responsive */
.burger{
    display: none;
}